$navy: #1e213a;
.highlights-item {
  // height: 10em;
  width: 85%;
  background: $navy;
  color: white;
  * {
    font-weight: 400;
  }
  .value {
    font-size: 2em;

    span {
      font-size: 2em;
    }
  }
  .progress {
    width: 50%;
  }
}
