$navy: #1e213a;
$medium-viewport-width: 768px;

.daily-weather-container {
  background-color: $navy;
  color: white;
  font-weight: 400;
  height: 10em;
  @media (max-width: $medium-viewport-width) {
    height: 12em;
  }
  h6 {
    @media (max-width: $medium-viewport-width) {
      font-size: 1.2em;
    }
  }
  .weather-icon {
    width: 5em;
    padding-bottom: 50%;

    background-image: url("/public/images/Shower.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
