$medium-viewport-width: 768px;

.footer {
  @media (min-width: $medium-viewport-width) {
    font-size: 0.6rem;
  }
}

.bottom {
  position: absolute;
  margin: 0 !important;
  bottom: 5%;
  left: 35%;
  @media (max-width: $medium-viewport-width) {
    left: 20%;
    transform: translateY(-50%);
  }
}
